/* semantic color variables for this project */
:root {
  --color-nocol: white;
  --color-background: #eeeeee;
  --color-text: blue;
  --color-highlight: yellow;
  color-scheme: only light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: crosshair;
}

/* apply color and transition to all child elements */
:root > * {
  color: var(--color-text);
  background: var(--color-background);
  background-color: var(--color-background);
  transition: color 1s, background-color 1s;
  font-display: block;
}
