@import './base.css';
/* import FONTs here to satisfy desktop */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Codystar:wght@400&family=Montserrat+Alternates:ital,wght@1,400&display=swap');

/* set a new CURSOR across the whole window */
html {
  min-height: 100vh;
  cursor: crosshair;
}

body {
  min-height: 100vh;
}

#app {
  /*  Alter column widths. */
  min-height: 100%;
  max-width: auto;
  margin: 0 auto;
  /* Site padding */
  /* padding: 2rem; */
  /* Fonts */
  font-family: 'Codystar', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Assistant', sans-serif;
  font-weight: normal;
}

/* import FONTs here to satisfy mobile view */
@font-face {
  font-family: 'Codystar', sans-serif;
  src: local(Codystar),
  url(./fonts/Codystar.ttf);
}
@font-face {
  font-family: 'Montserrat Alternates', sans-serif;
  src: local(Montserrat),
  url(./fonts/Montserrat.ttf);
}
@font-face {
  font-family: 'Assistant', sans-serif;
  src: local(Assistant),
  url(./fonts/Assistant.ttf);
}

@media (hover: hover) {
  a:hover {
    /* change this  */
    background-color: hsla(0, 0%, 40%, 0.2);
  }
}

@media {
  body {
    height: html;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
